@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/LatoLight.eot');
  src: url('../fonts/LatoLight.eot') format('embedded-opentype'),
  url('../fonts/LatoLight.woff2') format('woff2'),
  url('../fonts/LatoLight.woff') format('woff'),
  url('../fonts/LatoLight.ttf') format('truetype'),
  url('../fonts/LatoLight.svg#LatoLight') format('svg');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/LatoRegular.eot');
  src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
  url('../fonts/LatoRegular.woff2') format('woff2'),
  url('../fonts/LatoRegular.woff') format('woff'),
  url('../fonts/LatoRegular.ttf') format('truetype'),
  url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}

@font-face {
  font-family: 'LatoMedium';
  src: url('../fonts/LatoMedium.eot');
  src: url('../fonts/LatoMedium.eot') format('embedded-opentype'),
  url('../fonts/LatoMedium.woff2') format('woff2'),
  url('../fonts/LatoMedium.woff') format('woff'),
  url('../fonts/LatoMedium.ttf') format('truetype'),
  url('../fonts/LatoMedium.svg#LatoMedium') format('svg');
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/LatoBold.eot');
  src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
  url('../fonts/LatoBold.woff2') format('woff2'),
  url('../fonts/LatoBold.woff') format('woff'),
  url('../fonts/LatoBold.ttf') format('truetype'),
  url('../fonts/LatoBold.svg#LatoBold') format('svg');
}

@font-face {
  font-family: 'LatoExtraBold';
  src: url('../fonts/LatoBlack.eot');
  src: url('../fonts/LatoBlack.eot') format('embedded-opentype'),
  url('../fonts/LatoBlack.woff2') format('woff2'),
  url('../fonts/LatoBlack.woff') format('woff'),
  url('../fonts/LatoBlack.ttf') format('truetype'),
  url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
  url('../fonts/OpenSansBold.woff2') format('woff2'),
  url('../fonts/OpenSansBold.woff') format('woff'),
  url('../fonts/OpenSansBold.ttf') format('truetype'),
  url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
  font-family: 'InterRegular';
  src: url('../fonts/InterRegular.eot');
  src: url('../fonts/InterRegular.eot') format('embedded-opentype'),
  url('../fonts/InterRegular.woff2') format('woff2'),
  url('../fonts/InterRegular.woff') format('woff'),
  url('../fonts/InterRegular.ttf') format('truetype'),
  url('../fonts/InterRegular.svg#InterRegular') format('svg');
}

@font-face {
  font-family: 'InterMedium';
  src: url('../fonts/InterMedium.eot');
  src: url('../fonts/InterMedium.eot') format('embedded-opentype'),
  url('../fonts/InterMedium.woff2') format('woff2'),
  url('../fonts/InterMedium.woff') format('woff'),
  url('../fonts/InterMedium.ttf') format('truetype'),
  url('../fonts/InterMedium.svg#InterMedium') format('svg');
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('../fonts/InterSemiBold.eot');
  src: url('../fonts/InterSemiBold.eot') format('embedded-opentype'),
  url('../fonts/InterSemiBold.woff2') format('woff2'),
  url('../fonts/InterSemiBold.woff') format('woff'),
  url('../fonts/InterSemiBold.ttf') format('truetype'),
  url('../fonts/InterSemiBold.svg#InterSemiBold') format('svg');
}

@font-face {
  font-family: 'InterBold';
  src: url('../fonts/InterBold.eot');
  src: url('../fonts/InterBold.eot') format('embedded-opentype'),
  url('../fonts/InterBold.woff2') format('woff2'),
  url('../fonts/InterBold.woff') format('woff'),
  url('../fonts/InterBold.ttf') format('truetype'),
  url('../fonts/InterBold.svg#InterBold') format('svg');
}