@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.course-month {
  &-banner {
    height: clamp(500px, 39vw, 700px);
    @include max-media($page-mobile-width) {
      height: clamp(600px, 55vw, 65vw);
    }
    @include max-media($page-medium-width) {
      height: clamp(400px, 55vw, 65vw);
    }
  }
  &__container {
    .site-information {
      h1.banner-title {
        margin: 10px 0;
      }
    }
  }
}

.middle-content {
  background: $dark-blue;
  padding: 60px 0;
  &__details {
    text-align: center;
    h3 {
      color: $white;
      font: normal clamp(20px, 2vw + 8px, 36px) $font-lato-bold;
      margin-bottom: 20px;
      @include max-media($page-medium-width) {
        padding-top: 20px;
      }
      @include max-media($page-small-width) {
        font: normal clamp(16px, 2vw, 26px) $font-lato-bold;
      }
    }
    p {
      color: $white;
      font: normal 24px $font-lato-medium;
      line-height: 34px;
      margin-bottom: 0;
    }
  }
}
