@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.middle-content {
  padding: 60px 0;
  &__details {
    &-description {
      color: $white;
      margin-bottom: 0;
      h1, h2, h3, h4, h5, h6 {
        color: $white;
        font-family: $font-lato-bold;
      }
      strong {
        font-family: $font-lato-bold;
      }
    }
    &-image {
      img {
        border-radius: 16px;
        height: 420px;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.divers-list {
  padding: 20px 0 60px;
  .divers {
    &__content {
      margin: 30px auto 70px;
      text-align: center;
      width: 80%;
    }
    &__wrap {
      background: $white;
      border: 1px solid $light-gray3;
      border-radius: 16px;
      box-shadow: 0 4px 6px -4px rgba($black, 0.1), 0 10px 15px -3px rgba($black, 0.1);
      margin-bottom: 30px;
      position: relative;
      text-align: left;
      width: 100%;
      &-image {
        padding: 20px 0 20px 20px;
        @include max-media($page-medium-width) {
          padding: 20px;
        }
        img {
          border-radius: 8px;
          height: 297px;
          object-fit: cover;
          width: 100%;
        }
      }
      &-details {
        padding: 20px 20px 20px 0;
        @include max-media($page-medium-width) {
          padding: 0 20px 20px;
        }
        &-title {
          color: $black;
          font: normal 32px $font-lato-bold;
          line-height: 26px;
          @include max-media($page-medium-width) {
            font: normal 24px $font-lato-bold;
            line-height: 26px;
          }
        }
        &-description {
          color: $black;
          font: normal 16px $font-lato-regular;
          line-height: 26px;
          ul {
            padding-left: 30px;
            margin-bottom: 15px;
            li {
              position: relative;
              &:before {
                content: '';
                background: $orange;
                border-radius: 50%;
                height: 6px;
                left: -20px;
                position: absolute;
                top: 12px;
                width: 6px;
              }
            }
          }
          strong {
            font: normal 16px $font-inter-semi-bold;
          }
          p {
            margin-bottom: 15px;
          }
        }
        &-contacts {
          display: flex;
          text-align: center;
          a {
            padding: 0 10px;
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
