@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../components/helper' as *;

/*.site-header-background {
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  position: absolute;
  height: clamp(900px, 60vw, 70vw);
  width: 100%;
  @include max-media(1499px) {
    background-position: left top;
  }
  @include max-media($page-medium-width) {
    height: clamp(800px, 50vw, 60vw);
  }
}*/
.site-header-banner {
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  height: 900px;
  padding: 100px 0;
  position: relative;
  width: 100%;
  @include max-media($page-mobile-width) {
    height: 100%;
    padding: 160px 0 0;
  }
  @include max-media($page-medium-width) {
    padding: 160px 0 0;
  }
  @include max-media($page-small-width) {
    padding: 130px 0 0;
  }
  .site-header-container {
    display: flex;
    justify-content: end;
    position: relative;
    top: 30%;
    @include max-media(1499px) {
      transform: translate(0, clamp(-60px, -3vw, -30px));
    }
    @include max-media($page-medium-width) {
      transform: translate(0, clamp(-90px, -6vw, -60px));
    }
  }
  .site-wrap {
    width: 52%;
    @include max-media($page-mobile-width) {
      width: 100%;
    }
  }
  .site-information {
    background: rgba($black, 0);
    color: $white;
    padding: 25px 0;
    > img {
      @include max-media($page-medium-width) {
        width: 100%;
      }
    }
    &.transparent {
      background: transparent;
      padding: 25px 0;
      @include max-media($page-mobile-width) {
        padding: 25px 0;
      }
    }
    &__title {
      font: normal clamp(28px, 2vw + 16px, 44px) $font-lato-regular;
      b {
        font: normal clamp(28px, 2vw + 16px, 44px) $font-lato-extra-bold;
        text-transform: uppercase;
      }
    }
    &__description {
      font: normal clamp(32px, 2.5vw + 18px, 54px) $font-lato-light;
      line-height: 1;
      margin-top: 10px;
      @include max-media($page-xsmall-width) {
        font: normal clamp(24px, 2vw + 12px, 36px) $font-lato-light;
      }
      strong {
        font: normal clamp(32px, 2.5vw + 18px, 54px) $font-lato-extra-bold;
      }
      span {
        color: $blue;
      }
      &.smaller {
        font: normal clamp(16px, 2vw + 4px, 20px) $font-lato-regular;
        line-height: 26px;
        margin-top: 0;
      }
    }
    &__link {
      margin-top: 30px;
      margin-bottom: 20px;
      a {
        background: $orange;
        border-radius: 10px;
        color: $white;
        font: normal clamp(14px, 0.5vw + 10px, 18px) $font-lato-bold;
        padding: 12px 40px;
        text-transform: uppercase;
        @include max-media($page-xsmall-width) {
          padding: 12px 20px;
        }
        .icon {
          top: 4px;
        }
      }
    }
  }
}

.site-middle-content {
  background: url("../images/mid-bg.png") repeat-x;
  position: relative;
  padding: 130px 0 50px;
  @include max-media($page-xsmall-width) {
    padding: 130px 0 10px;
  }
  &:after {
    content: "";
    background: $dark-blue;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 100%;
  }
  &__options {
    position: relative;

    // Fallback for initial load (before JS runs)
    @include min-media($page-mobile-width + 1) {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include max-media($page-mobile-width) {
      display: block;
    }
  }
  &__option {
    border-radius: 16px;
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include max-media($page-mobile-width) {
      margin-bottom: 20px;
    }
    @include max-media($page-small-width) {
      height: 195px;
    }
    .image-wrap {
      background-size: cover;
      background-position: 50% 40%;
      border-radius: 16px;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    .detail-wrap {
      bottom: 0;
      padding: 20px;
      position: absolute;
      left: 0;
      text-align: left;
      width: 100%;
      z-index: 2;
    }
    h3 {
      color: $white;
      font: normal clamp(18px, 1vw + 12px, 24px) $font-lato-regular;
      margin-top: 10px;
    }
    &-link {
      margin-top: 15px;
      a {
        background: $orange;
        border: 0;
        border-radius: 10px;
        color: $white;
        display: inline-block;
        font: normal clamp(14px, 0.5vw + 10px, 18px) $font-lato-bold;
        line-height: 24px;
        padding: 11px 25px;
        text-transform: uppercase;
        @include max-media($page-small-width) {
          font: normal 14px $font-lato-bold;
          padding: 5px 25px 9px;
        }
      }
    }
  }
}

.site-booking {
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  min-height: clamp(356px, 50vw, 560px);
  width: 100%;
  @include max-media($page-mobile-width) {
    padding: 120px 20px;
  }
  &:before {
    content: "";
    background-size: cover;
    background-position: 50% 21%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  &:after {
    content: "";
    background: rgba($black, .1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  &__booking-wrap {
    margin: 0 auto;;
    padding: 20px 50px 50px;
    text-align: center;
    width: 60%;
    @include max-media($page-mobile-width) {
      padding: 0;
      width: 100%;
    }
    h2 {
      color: $white;
      font: normal clamp(20px, 5vw, 32px) $font-lato-bold;
      @include max-media($page-mobile-width) {
        font: normal clamp(18px, 5vw, 30px) $font-lato-bold;
      }
      @include max-media($page-small-width) {
        font: normal clamp(16px, 5vw, 24px) $font-lato-bold;
      }
    }
  }
  &__description {
    color: $white;
    font: normal 24px $font-lato-regular;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 40px;
    @include max-media($page-medium-width) {
      font: normal 18px $font-lato-regular;
      line-height: 30px;
      margin-bottom: 20px;
    }
    b {
      font: normal 24px $font-lato-bold;
      @include max-media($page-medium-width) {
        font: normal 18px $font-lato-bold;
        line-height: 30px;
      }
    }
  }
  &__button {
    background: $orange;
    border-radius: 10px;
    color: $white;
    display: inline-block;
    font: normal 20px $font-lato-bold;
    padding: 18px 40px;
    label {
      display: block;
      font: normal 20px $font-lato-regular;
      margin-top: 10px;
      @include max-media($page-medium-width) {
        font: normal 14px $font-lato-regular;
        margin-top: 5px;
      }
    }
  }
}

.site-blog {
  background: $white;
  padding: 30px 0 60px;
  width: 100%;
  @include max-media($page-mobile-width) {
    padding: 30px 0;
  }
  &__title {
    &.section-title {
      @include max-media($page-mobile-width) {
        font: normal 30px $font-lato-bold;
      }
    }
  }
  &__sub-title {
    &.sub-title {
      @include max-media($page-mobile-width) {
        font: normal 18px $font-lato-regular;
        text-align: center;
      }
    }
  }
  .content {
    &-desktop {
      @include max-media($page-medium-width) {
        display: none;
      }
      .site-blog {
        &__posts {
          margin-top: 50px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          align-items: stretch;
          width: 100%;
          @include max-media($page-medium-width) {
            margin-top: 20px;
            grid-template-columns: repeat(2, 1fr);
          }

          @include max-media($page-mobile-width) {
            grid-template-columns: 1fr;
          }
        }
      }
    }
    &-mobile {
      display: none;
      @include max-media($page-medium-width) {
        display: block;
        width: 100%;
      }
      .site-blog {
        &__posts {
          margin-top: 50px;
          width: 100%;

          @include max-media($page-medium-width) {
            display: block;
            overflow: hidden;
            padding-bottom: 40px;

            .swiper-pagination {
              bottom: 0;
              .swiper-pagination-bullet {
                background: $light-gray5;
                height: 8px;
                opacity: 1;
                width: 8px;
                &-active {
                  background: $orange;
                  border-radius: 10px;
                  width: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__posts {
    margin-top: 50px;
    width: 100%;
  }
  &__post {
    background: $white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
    &-image {
      img {
        border-radius: 16px;
        height: 240px;
        object-fit: cover;
        width: 100%;
      }
    }
    &-title {
      color: $black;
      font: normal 20px $font-lato-bold;
      line-height: 26px;
      margin-top: 15px;
      @include min-media($page-mobile-width + 1) {
        min-height: 52px;
      }
      @include max-media($page-medium-width) {
        text-align: center;
      }
    }
    &-description {
      color: $black;
      flex: 1;
      font: normal 16px $font-lato-medium;
      line-height: 26px;
      margin-top: 10px;
      //@include max-media($page-mobile-width) {
      //  min-height: 200px;
      //}
    }
    &-button {
      margin-top: auto;
      padding-top: 20px;
      text-align: center;
      a {
        border: 1px solid $orange;
        border-radius: 8px;
        color: $orange;
        display: block;
        font: normal 14px $font-lato-bold;
        line-height: 24px;
        padding: 3px 9px;
      }
    }
  }
  &__button-wrap {
    margin-top: 50px;
    text-align: center;
    @include max-media($page-mobile-width) {
      display: none;
      width: 100%;
    }
    a {
      background: $orange;
      border-radius: 10px;
      color: $white;
      display: inline-block;
      font: normal 20px $font-lato-bold;
      padding: 12px 85px;
      @include max-media($page-mobile-width) {
        width: 100%;
      }
      @include max-media($page-small-width) {
        font: normal 18px $font-lato-bold;
        padding: 9px 20px;
      }
    }
  }
}

.site-reviews {
  background-size: cover;
  padding: 30px 0 60px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  &:before {
    content: "";
    background: rgba($dark-blue, .7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  &__title {
    color: $blue;
    font: normal 48px $font-lato-bold;
    padding-top: 40px;
    @include max-media($page-mobile-width) {
      font: normal 32px $font-lato-bold;
    }
  }
  &__sub-title {
    color: $white;
    font: normal 24px $font-lato-regular;
    margin-top: 15px;
    @include max-media($page-mobile-width) {
      font: normal 18px $font-lato-regular;
    }
  }

  &__posts {
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    padding-bottom: 80px !important;
    text-align: left;
  }

  .swiper-slide {
    &:nth-child(odd) {
      .site-reviews__post {
        border-left: 8px solid $orange;
      }
    }
  }
  &__post {
    background: $white;
    border-left: 8px solid $blue;
    border-radius: 16px;
    padding: 20px;
    height: 242px;
    position: relative;
    z-index: 2;
    &-icon {
      @include iconBackgroundOption('quote');
      height: 32px;
      width: 32px;
    }
    &-description {
      color: $body-text-colour;
      font: normal 14px $font-lato-medium;
      line-height: 1.6;
      margin-bottom: 20px;
      margin-top: 15px;
    }
    &-user {
      h5 {
        color: $body-text-colour;
        font: normal 16px $font-lato-bold;
      }
      span {
        display: block;
        color: $body-text-colour;
        font: normal 14px $font-lato-regular;
      }
    }
  }
}
